<h3><i class="fas fa-credit-card"></i> Credit Card Service</h3>
<div class="section">
    <p class="lead">Credit Card Service</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn red darken-1">
        <i class="fab fa-github left"></i> Log In With Google
    </a>
</div>